.DS_Store
CollectionViewCompositionalLayoutApp.xcodeproj/project.pbxproj
CollectionViewCompositionalLayoutApp.xcodeproj/project.xcworkspace/xcuserdata/fastlee.xcuserdatad/UserInterfaceState.xcuserstate